h1 {
   font-family: 'Tangerine', cursive;
    color: #5e0231;
    font-size: 450%;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
}

body {
    background: #b5a397;
}

video {
    max-width: 100%;
    width: 100%;
    
}


